.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Beech Trees
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Beech Trees

/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Bushes
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Demo Scenes
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Foliage and Grass/Models
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Details/Models
/Assets/NatureManufacture Assets/Forest Environment Dynamic Nature/Stumps Roots and Branches
